body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.m-col{
    padding: 0 ;
}


/* top navigation styles */
#firstrow span{
    color: rgb(255, 255, 255) ;
    font-size: 14px;
}

#firstrow .dropdown-toggle::after{
    color: white;
}
#nav-bg{
    background-color: white;
}

#level1 .logo img {
    max-width: 67px;
}
#level1{
    padding: 0px 1rem;
}

.login .material-icons {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#level1 .banking-group li{
    padding: 8px 14px;
    font-size: 14px;
}
#level1 .banking-group .dropdown-item{
    padding: 0 1.5rem;
}

/* second level navigation */
#main-navbar .logo img{
    max-width: 200px;
}
.mainnav .dropdown .dropdown-toggle::after{
    display: none;
}
.mainnav .dropdown .dropdown-menu .dropdown-toggle::after{
    display: inline-block;
    vertical-align: 0.125em;
}
#nav-bg{
    border-bottom: 1px #bbbbbb solid;
}
#main-navbar{
    padding: 0 !important;
}

/* end of dropdown styles */
/* styles for nav panel */
#body-overlay{
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color:rgba(34, 34, 34, 0.6);
    overflow-x: hidden; 
    padding-top: 60px; 
}
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color:#ffffff;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}
/* The navigation menu links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #002469;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

.sidenav .dropdown-container {
    padding: 10px 0px;
}

.sidenav .dropdown-container a{
    padding: 8px 8px 8px 42px;
}
.sidenav .dropdown-container .sub-container a{
    padding: 8px 8px 8px 58px;
}

  .dropdown-btn{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .sideNavBtn{
    margin: 20px 8px 8px 32px;
    display: block;
    border: none;
    background-color: #002468;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #ffffff ;
  }

.sidenavLine{
    width: 80%;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#sidenav ul{
    list-style: none;
    padding: 0;
}
/* end of side nav styles */

/* dropdown styles */
.dropdown-container {
    display: none;
    background-color: #f1f1f1;
  }
.dropdown-container .sub-container{
    background-color: #e0e0e0;
}
/* dropdown icon position */
.mobile-drop{
    margin-right: 12px;
}
/* Screen overlay styles */
.screen-overlay {
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility .1s, width 1s ease-in;
  }
  .screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
  }


  /* drop down styles */

@media (min-width: 768px){

}
@media (min-width: 992px){
    .mainnav li{
        list-style-type: none;
        font-size: 14px;
        display: block;
        text-transform: uppercase;
        box-sizing: border-box;
    }
    .mainnav{
        padding: 0 ;
        margin: 0;
    }
    .mainnav .first-menu li{
        padding: 12px 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 1.25rem 1.75rem;
        box-sizing: border-box;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        background-color: #f1f1f1;
    }
    
    .sticky{
        position: sticky;
        top: 0;
    }

    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .navigationdrop-line{
        margin: 0 auto;
        width: 80%;
    }
    .navbar .nav-item .dropdown-menu{ 
        right:auto;
        width: 285px;
    }
    .dropdown-menu .dropdown-menu{
        margin-left:0; 
        margin-right: 0;
    }
    .dropdown-menu li{
        position: relative;
    }
    .nav-item .submenu{ 
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{ 
        left:100%; right:auto;
    }
    .navbar .nav-item:hover .first-menu{ 
        display: block; 
    }
    .dropdown-menu .dropdown-item-heading{
        background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover{ 
        background-color: #f1f1f1 

    }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
    #main-navbar .dropdown-item{
        padding-left: 0;
        padding-right: 10px;
        white-space: normal ;
    }
    .dropdown-item:hover{
        background-color: #f1f1f1;
    }

    #searchbutton{
        border-left: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        
    }
    #searchbutton button{
        margin: auto;
        height: 61px;
        width: 70px;
    }

    .active{
        border-bottom: red 2px solid;
    }
}