hr {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

#selected {
  color: #002469;
}

/* Styles for searchbar*/
input[type=search]:focus, button[type="button"]:focus {
  box-shadow: none;
}
.filter-sort button{
  padding: 0.375rem 0rem;

}

/* end of styles for searchbar*/

/* Styles for navigation tab */
.scrollable-tab .s-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
  border-bottom: #eeeeee solid 0.5px;

/* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollable-tab .s-tabs .nav-link {
 white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-tab .s-tabs::-webkit-scrollbar {
  display: none;
}

.nav-link {
  color: #818181;
  font-weight: bold;
}

.nav-link:hover, .nav-link.active , .nav-link:active {
  border-bottom: 2px #002469 solid;
  color: #002469;
}


/* end of styles for nav tabs */

/*Modal Styles*/

.modal-footer button{
  width: 100%;
}

/* End of Modal styles */
/* Accordion styles */
.accordion .opened:after {  
  content: "-";
  float: right; 
}
.accordion .collapsed:after {
  /* symbol for "collapsed" panels */
  content: "+"; 
}

.accordion a {
  color: #002469;
  font-weight: bold;
}

.accordion a:focus {
  color: #002469;
}

.accordion .card-header {
  background-color: white;
  
}

.accordion .card {
  border: none;
  /* border-top: 0.5px solid #6e6e6e; */
}

.accordion li {
  text-decoration: none;
}

/* End of Accordion Styles */

/* sidebar filter */

.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  /* background-color: white; */
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 20px;
  
}

.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 16px;
  color: #002469;
  display: block;
  /* transition: 0.3s; */
  text-align: left;
}

.sidebar button {
  font-size: 22px;
  color: #002469;
}
.sidebar button:focus{
  outline:none;
}


/* end of sidebar filter*/

/*styles for search result*/
.tab-styles {
  padding-top: 20px;
  padding-left: 0px;
}

.tab-styles .breadcrumb {
  background-color: white;
  padding:0;
  margin: 0;
}

.tab-styles h2 {
  font-size: 16px;
  color: #002469;
}

.pagination {
  justify-content: center;
}
/* end of search result */

/* Style for suggested search */
.suggestedsearch {
  padding: 20px 0;
}

.suggested-header {
  font-size: 20px;
}

.suggested-description {
  color: #002469;
}

.suggested-result {
  margin: 0px 0px 1px 1px;
  
}


/* End of style for suggested search */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .tab-styles h2 {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}



h6 {
  height: 40px;
  color: #002469;
}