.carousel-inner .card {
    height:100%;
}
.breadcrumb a {
    color:#002469
}

#whyapplynowsection{

    background-color: #002469;
    color: white;
}
h5{
    font-weight: bold;

}

h5 {
    font-weight: bold;
}

hr {
    margin-top: 50px;
}

.notbold {
    font-weight: normal;
}

.nobulletpoint {
    list-style: none;
}

body {
    font-family: "open sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 16px;
    /* text-align: center; */
    font-weight: bold;
}

/* button styles */

.btn-banner {
    background-color: white;
    color: #002469
}

.btn-1 {
    background-color: #002469;
    color: white;
    font-size: 14px;
}

#webapplynowbutton {
    position: absolute;
    bottom: 15%;
    left: 6%;
    font-size: 12px;
}

.btn-1:focus, .btn-2:focus {
    box-shadow: none;
}

.btn-1:hover {
    background-color: #001438;
    color: white;
}

.btn-2 {
    border-color: #002469;
    color: #002469;
    font-size: 14px;
}

.btn-2:hover {
    background-color: #002469;
    color: white;
}

/* end of button styles */

/* Styles for all section */

.section {
    padding-top: 6%;
}

/* end of styles for all section */

/* banner styles */

.main-banner .description {
    bottom: 5%;
    position: absolute;
}

.ownorrentbanner .description {
    bottom: 5%;
    left: 50%;
    position: absolute;
}

.banner {
    position: absolute;
    bottom: 0;
}

/* end of banner styles */

/*Content Navigation Bar Styles */
.nav-heading{
    width:auto;
}

.nav-heading a {
    font-size: 12px;
    font-weight: bold;
    color: #002469;
    overflow-wrap: break-word;
}

.nav-heading li {
    border-right: 0.5px solid #e5e5e5;
    text-align: center;
    padding-top: 1em;
}

.content-nav {
    background-color: #ffffff;
    border: 0.5px solid #e5e5e5;
    z-index: 0;
}

#myScrollspy .active {
    border-bottom: 5px solid #002469;
}


#myScrollspy .col-3 {
    padding-left: 0;
    padding-right: 0;
}

/* end of content navbar styles */

/* Styles for FAQ */

.accordion .opened::before {
    content: "-";
    padding: 0px 15px;
    border: 1px solid #002469;
    border-radius: 50%;
    color: white;
    background-color: #002469;
    font-size: 30px;
    font-weight: normal;
    margin-right: 20px;
}

.accordion .collapsed::before {
    /* symbol for "collapsed" panels */
    content: "+";
    padding: 0px 11px;
    border: 1px solid #002469;
    border-radius: 50%;
    color: #002469;
    background-color: white;
    font-size: 30px;
    font-weight: normal;
    margin-right: 20px;
}

.acc-text {
    padding-left: 1.95em;
}

/* end of styles for FAQ */

/*  Styles for the layouts */

/* layout 2 and slider 1 styles */

.layout2-title, .slider-title {
    font-size: 16px;
}

.layout2-p, .slider-p {
    font-size: 13px;
}

    
    .layout2.card-deck, .layout3.card-deck, .layout4.card-deck, .layout5.card-deck{
        display: block;
    }

    .layout2.card-deck .card, .layout3.card-deck .card, .layout4.card-deck .card, .layout5.card-deck .card {
        margin-bottom: 15px;
    }


      /* styles for table */
      .table-blue {
        background-color: #002469;
        color: white;
    }
    .table-grey {
        background-color: #eeeeee;
        color: rgb(33,37,41);
    }
/* end of layout 2 and slider 1 styles */



    .breadcrumb a {
        color:#002469
    }
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 375px) {
    .main-banner .description {
        bottom: 10%;
    }
}

@media (min-width: 576px) {
    .main-banner .description {
        bottom: 15%;
    }
    .main-banner .description h1 {
        font-size: 20px;
    }
    .btn-banner {
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 26px;
    }
    p {
        font-size: 16px;
    }
    .nav-heading a {
        font-size: 16px;
    }
    /* Styles for all content section */
    .section {
        padding-top: 4%;
    }
    /* Styles for banner */
    .main-banner .description {
        position: absolute;
        right: 1%;
        width: 55%;
        top: 5%;

    }

    .ownorrentbanner .description {
        top: 20%;
        left: 50%;
        position: absolute;
        font-size: 14px;
    }
    .ownorrentbanner .h1 {
       
        font-size: 14px;

    }

    /* Multi item carousel styles */
    /* to display 3 */
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .main-banner .description {
        top: 10%;
       
    }

    .ownorrentbanner .description {
        top: 20%;
        left: 50%;
        position: absolute;
        font-size: 6px;
    }

    #webapplynowbutton{
        position: absolute;
        bottom: 20%;
        left: 6%;
    }

    .layout2.card-deck, .layout3.card-deck, .layout4.card-deck, .layout5.card-deck {
        display: flex;
    }

    .layout2.card-deck .card, .layout3.card-deck .card, .layout4.card-deck .card, .layout5.card-deck .card{

        margin-bottom: 0px;
    }
    .layout3 {
        width: 75%;
    }
    .layout3-card {
        width: 25%;
    }

    .ownorrentbanner .description {
        font-size: 16px;
        top: 5%;
        left: 50%;
        position: absolute;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    .ownorrentbanner .description {
        top: 20%;
        left: 50%;
        position: absolute;
    }

    .main-banner .description {
        top: 18%;
    }
    #webapplynowbutton {
        position: absolute;
        bottom: 22%;
        left: 6%;
        font-size: 20px;
    }
}

/* Multi item carousel styles */

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

/* Multi Item Carousel */

.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    text-align: center;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.c-icon {
    background-color: #002469;
    padding: 10px;
}

.carousel-a {
    z-index: 0;
}

.MultiCarousel {
    overflow: hidden;
    padding: 15px 40px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    color: black;
}

.MultiCarousel .MultiCarousel-inner .item p {
    width: 80%;
    margin: auto;
    padding: auto;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
    background: #00377bad;
    border: none;
    padding: 10px;
}

.MultiCarousel .leftLst:hover, .MultiCarousel .rightLst:hover {
    background: #00377B;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

/* Change image sizing */

.MultiCarousel .MultiCarousel-inner .img-50 {
    width: 50%;
}

/* end of multi item carousel */




/* Styles for covid19 section*/
.covid-box {
    width: 100%;
}

.dark-img {
    position: relative;
}

.dark-img img {
    width: 100%;
    margin: 0 auto;
}

.dark-img::before {
    background-color: #000;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.covid-text {
    color: white;
    font-weight: bold;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 0 30px;
    left: 0;
    text-decoration: inherit;
}

a {
    color: #002469;
}

.table-grey {
    background-color: #eeeeee;
    color: rgb(33,37,41);
}

